@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animated-underline {
        height: 2px;
        border-radius: 1px;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0.25rem;
        right: 0.25rem;
    }
}