.card {
  display: flex;
  min-height: 12rem;
  overflow: hidden;
  border-radius: .75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.card.talk--teaser {
  height: auto;
  min-height: 10rem;
}

.card + .card {
  margin: 1rem 0 0;
}

.card-media {
  flex: 0 0 220px;
  position: relative;
}

.card-media img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

.card-media time {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.5rem 0.75rem;
    border-radius: 0 0 .5rem;
    color: rgb(245, 245, 245);
  }

.card-content {
  padding: 1rem;

}

.card-content time {
    font-size: 0.85rem;
    color: #666;
    display: block;
    font-weight: 500;
  }

.card-content h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.3;
  }

.card-content h2 a {
      -webkit-text-decoration: none;
      text-decoration: none;
    }

.card-content time + h2 {
    margin-top: .25rem;
  }

.card-content p {
    margin: .5rem 0 0;
    line-height: 1.6;
    color: #444;
  }

@media (prefers-color-scheme: dark) {

.card-content p {
      color: #BDBDBD
  }
    }

.card .metadata {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.card .metadata div {
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #e9e9ed;
    border-radius: 20px;
    display: inline-block;
    padding: .25rem .5rem;
  }

@media (prefers-color-scheme: dark) {

.card .metadata div {
      background-color: #333338
  }
    }

.card .metadata + h2 {
  margin-top: 1rem;
}

@media (max-width: 48rem) {
  .card {
    flex-direction: column;
    height: auto;
  }

    .card .card-media {
      flex-grow: 1;
    }
}
