@media print {
  @page {
    margin: 1rem .5rem;
  }
}

@media print and (max-width: 60.99em) {
  html:has(.path-resume) {
    margin: 0;
    padding: 0;
  }

  body.path-resume {
    --gin-toolbar-y-offset: 0;

    padding-top: 0;
  }
}

.path-resume {
  line-height: 1.5;

}

@media print {
    .path-resume header,
    .path-resume #block-av-local-tasks,
    .path-resume #block-av-copyrightsociallinks {
      display: none;
    }
  }

.path-resume .layout--twocol-section {
    flex-wrap: initial;
  }

@media screen and (max-width: 29.999em) {
    .path-resume .layout--twocol-section {
      flex-wrap: wrap;
    }

    .path-resume .layout__region--first {
      order: 2;
      margin-top: 1rem;
    }
  }

@media all and (min-width: 30em) {
      .path-resume .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--first {
        flex-basis: 210px;
      }

      .path-resume .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second {
        flex-basis: 558px;
        padding-left: 1rem;
      }
  }

@media screen {
    .path-resume h1 {
      /* Visually Hidden */
      position: absolute !important;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      width: 1px;
      height: 1px;
      word-wrap: normal;
    }

    .path-resume .layout-content {
      margin-top: 2rem;
    }
  }

.path-resume .layout-content h2 {
      margin: 0;
      font-weight: 700;
      font-size: 1.25rem;
    }

.path-resume .layout-content h3 {
      margin: 0;
      font-weight: 700;
      font-size: inherit;
    }

.path-resume .layout-content p {
      margin: 0;
    }

.path-resume .layout-content ul {
      list-style: outside;
      padding: 0;
      margin: 0 0 0 1rem;
    }

.path-resume .layout-content .layout__region div + div,
    .path-resume .layout-content ul + h3,
    .path-resume .layout-content p + h3,
    .path-resume .layout-content ul + p,
    .path-resume .layout-content p + p,
    .path-resume .layout-content p + ul,
    .path-resume .layout-content .layout + .layout {
      margin-top: 1rem;
    }

.path-resume .layout-content .links ul {
      list-style: none;
      margin: 0;
    }

.path-resume .layout-content .links ul li {
        padding: .25rem 0;
        display: flex;
        align-items: center;
      }

.path-resume .layout-content .links ul li p {
          margin: 0;
        }

.path-resume .layout-content .links ul li a {
          color: inherit;
          -webkit-text-decoration: none;
          text-decoration: none;
        }

.path-resume .layout-content .links ul svg {
        display: inline-block;
        margin-right: .25rem;
        fill: black;
      }

.path-resume .layout-content .languages ul, .path-resume .layout-content .business-skills ul, .path-resume .layout-content .technical-skills ul {
        list-style:circle;
        margin: 0 0 0 1.5rem;
        padding: 0;
      }
