@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100vh;
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: rgb(17, 24, 39);
        }
    }
}

@layer components {
    .animated-underline {
        height: 2px;
        border-radius: 1px;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0.25rem;
        right: 0.25rem;
    }

    @media (prefers-color-scheme: dark) {
        .prose a {
            color: rgb(217, 119, 6);
        }

        .prose h1, .prose h2, .prose h3, .prose thead {
            color: hsl(220, 39.3%, 89%);
        }

        .prose code {
            color: hsl(220, 39.3%, 79%);
        }
    }
}